body{
      background-color:#000839;
      text-align: center;
      font-family: 'Merriweather', serif;
      cursor: url('13h.png'),pointer;
      line-height: 2;
}

.top_container{
      position:relative;
      padding-top: 113px;
      height: 538px;
      background-color: #253b6e;
      background-image: url(../img/stars13.png);
}

.tcloud{
  position: absolute;
  right: 138px;
  top: 38px;
}

.bcloud{
  position: absolute;
  left:138px;
  bottom:213px;
}
.ice{
height: 386px;
text-align: center;
position: relative;
top:13px;
}

h1{
      color: #f6f6f6;
      font-family: 'Sacramento', cursive;
      font-size: 3em;
}
.vela{
  color: #f6f6f6;
}

h2{
  font-family: 'Montserrat', sans-serif;
      color:#b3daff;
}

h3{
font-family: 'Montserrat', sans-serif;
      color:#cce0ff;
}
p{
  color:#355c7d;
}



.dp{
  height: 138px;
  padding: 13px;
}
.skill{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.dp13{
  width: 25%;
  float: left;
  margin-right: 38px;

}

.dp23
{
  width: 25%;
  float: right;
  margin-left: 38px;

}
a{
     color: #11999E;
} 
